
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #c5a98e; 
  font-family: 'Playfair Display', serif;
  color: #4a3728; 
  line-height: 1.6;
}

body, button, input, textarea, select {
  font-family: 'Assistant', sans-serif !important;
}

h2 {
  font-weight: 600;
  color: #4e342e; 
  letter-spacing: 0.5px;
}

input, textarea, select {
  font-size: 1rem;
  color: #444;
  background-color: #fdfaf8; 
  border: 1px solid #e0d5d0;
  border-radius: 8px;
  padding: 12px;
}